{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <button class="button-6" role="button" id="myBtn">Ajouter un Article</button>
    <section>
    {% for article in articles %}
        <div class="article">
                <p>Id de l'article {{article.id}}</p>
                <h2> Pseudo : {{article.pseudo}}</h2>
                <article>{{article.description}}</article>                          

            <a class="button-6" role="button" href="{{ path('app_commentaire_show', {'id': article.id}) }}">show</a>

        </div>
        {% endfor %}
    </section>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.pseudo }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            <tbody>
     
        </tbody>
    </table> #}



    
<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    {{ include('article/_form.html.twig') }}
        {# <a class="button-6" role="button"  href="{{ path('app_article_new') }}">Create new</a> #}
    <p>Some text in the Modal..</p>
  </div>

</div>
{% endblock %}
