 <head>
        <meta charset="UTF-8">
{% block title %}Article index{% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
                      {{ encore_entry_script_tags('commentaire') }}
        {% endblock %}
        

    </head>




{% block body %}
    <h1>Page Article</h1>
        <form>
      <label>Search</label>
      <input type="text" name="cat"/>
      <input type="submit" value="Chercher"/>
    </form action="" method="GET">
    <main>
    <button class="button-6" role="button" id="myBtn">Ajouter un Article</button>
    <section>

      {% if article_filtre is  defined %}
          <p>Hello</p>
          {% for articles in  article_filtre  %}
        <div class="article" id="{{articles.id}}">
        {# {% for cat in  articles.categories %}
        <p>Categorie : {{cat.nom}}</p>
        {% endfor %} #}
                
                <h2 id="psd"> Pseudo : {{articles.pseudo}}</h2>
                <article>{{articles.description}}</article>                          

            <a class="button-6" role="button" href="{{ path('app_commentaire_show', {'id': articles.id}) }}">Voir</a>
        
        
        </div>
        {% endfor %}
          
          {% endif %}


    {% for article in articles %}



    <div class="container">
  <div class="card">
    <div class="card__header">
     
    </div>
    <div class="card__body">
      <span class="tag tag-blue"> Pseudo : {{article.pseudo}}</span>
      <h4>{{article.titre}}</h4>
      <p>{{article.description}}</p>
       {% for cat in  article.categories %}
        <p>Categorie : {{cat.nom}}</p>
        {%endfor %}
    </div>
    <div class="card__footer">
      <div class="user">
  
        <div class="user__info">
        <a class="button-6" role="button" href="{{ path('app_commentaire_show', {'id': article.id}) }}">Voir</a>
        </div>
        
      </div>
    </div>
  </div>
  
 
</div>
        <div class="article" id="{{article.id}}">
       
                
                
            
        
        </div>
        {% endfor %}
  
    </section>
    <main>


<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    {{ include('article/_form.html.twig') }}
  </div>

</div>
<div id="myModalComm" class="modal">
  <div class="modal-content">
    <span class="closeComm">&times;</span>
    {{ include('commentaire/_form.html.twig') }}
  </div>

</div>
{% endblock %}
