{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
 
 
    <table class="table">
    <thead>
	
           {% for comm in commentaire %}
           
            <tr>
             <h1>Commentaire </h1>
                <td>{{ comm.description }}</td>
                <td>{{ comm.pseudo }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

  

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
